@using JardinesEdi2022.Entidades.Entidades
@{
    ViewBag.Title = "Index";
    var categoria = ViewBag.model as Categoria;
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/toastr.js"></script>
<div class="card">
    <h5 class="card-header bg-primary text-white">Listado de Categorias</h5>
    <div class="card-body">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" onclick="abrirModal(0)" >
            <i class="fa fa-plus"></i> Nuevo
        </button>
        
        <hr />
        <table id="tabla" class="table display cell-border">
            <thead>
                <tr>
                    <th>Categoría</th>
                    <th>Descripción</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalCategoria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="DataForm" method="post">
                    @Html.HiddenFor(model => categoria.CategoriaId, new { @id = "CategoriaId" })
                    <div class="mb-3">
                        <label>Categoría</label>
                        @Html.TextBoxFor(model => categoria.NombreCategoria, new { @class = "form-control", @id = "NombreCategoria" })
                    </div>
                    <div class="mb-3">
                        <label>Descripción</label>
                        @Html.TextAreaFor(model => categoria.Descripcion, new { @class = "form-control", @id = "Descripcion" })
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" id="btn_guardar" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        var tablaCategorias;
        $(document).ready(function() {
            tablaCategorias = $('#tabla').DataTable({
                "ajax": {
                    "url": "@Url.Action("GetCategorias", "Categorias")",
                    type: "GET",
                    dataType: "json"
                },
                "columns": [
                    { "data": "NombreCategoria" },
                    { "data": "Descripcion" },

                    {
                        "data": "CategoriaId",
                        "render": function(data) {
                            return "<button class='btn btn-warning btn-sm' type='button' onclick='abrirModal(" +
                                data +
                                ")'><i class='fas fa-pen'></i></button> " +
                                "<button class='btn btn-danger btn-sm' type='button' onclick='Eliminar(" +
                                data +
                                ")'><i class='fas fa-trash'></i></button> ";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "100px"
                    }
                ]

            });
        });
        function abrirModal($CategoriaId) {
            $("#CategoriaId").val($CategoriaId);
            if ($CategoriaId != 0) {
                $.ajax({
                    "url": "@Url.Action("GetCategoria","Categorias")" + "?categoriaId=" + $CategoriaId,
                    "type": "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function(data) {
                        console.log(data);
                        if (data != null) {
                            $("#NombreCategoria").val(data.NombreCategoria);
                            $("#Descripcion").val(data.Descripcion);

                        }

                    }
                });
            } else {
                $("#NombreCategoria").val("");
                $("#Descripcion").val("");

            }
            $("#modalCategoria").modal('show');
        }


        $('#btn_guardar').click(function() {
            var Formdata = $('#DataForm').serialize();
            console.log(Formdata);
            if (CategoriaId==0) {
                $.ajax({
                    "type":"POST",
                    "url": "@Url.Action("Create","Categorias")",
                    "data": Formdata,
                    success:function(data) {
                        if (data.respuesta) {
                            window.location.href = '/Categorias/Index';
                            toastr.success(data.mensaje);
                        } else {
                            toastr.error(data.mensaje);
                        }
                    }
                });

            } else {
                $.ajax({
                    "type": "POST",
                    "url": "@Url.Action("Update","Categorias")",
                    "data": Formdata,
                    success:function(data) {
                        if (data.respuesta) {
                            $('#modalCategoria').modal('hide');
                            tablaCategorias.ajax.reload();
                            toastr.success(data.mensaje);
                        } else {
                            toastr.error(data.mensaje);
                        }
                    }
                });
            }
        });

        function Eliminar($CategoriaId) {
            if ($CategoriaId != 0) {
                $.ajax({
                    "url": "@Url.Action("GetCategoria","Categorias")" + "?categoriaId=" + $CategoriaId,
                    "type": "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function(data) {
                        console.log(data);
                        if (data != null) {
                          Swal.fire({
                                    title: '¿Desea eliminar el registro de '+data.NombreCategoria+'?',
                                    text: 'No se le permitirá revertir la operación',
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Sí, borrar!'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        $.ajax({
                                            "url": "@Url.Action("Eliminar","Categorias")" + "?categoriaId=" + $CategoriaId,
                                            "type": "GET",
                                            dataType: "json",
                                            contentType: "application/json; charset=utf-8",
                                            success: function(response) {
                                                console.log(response);
                                                if (response.respuesta) {
                                                    tablaCategorias.ajax.reload();

                                                    Swal.fire(
                                                        'Borrado!',
                                                        response.mensaje,
                                                        'success'
                                                    );
                                                } else {
                                                    Swal.fire(
                                                        'Registro no Borrado!',
                                                        response.mensaje,
                                                        'error'
                                                    );

                                                }


                                            }
                                        });

                                    }
                                });

                        }

                    }
                });
            }



        }


    </script>
}
